*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: 0;
  font-family: 'Dosis',sans-serif;
  text-align: center;
}
body{
  font-size: 20px;
  background: black;
  color: #eeeeee;
}
#cover{
  background-image: url(me.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #262626;

}
#header{
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 19.0px );
  -webkit-backdrop-filter: blur( 19.0px );
  position: sticky;
  top: 80%;
  padding: 5vh ;
}
hr{
  color: white;
}
/* .hr-div{
  padding: 3vh;
}
.hr{
  margin: 3px 3px;
}
.hr1{
  margin: 5px 5px;
}
.hr2{
  margin: 5px 11px;
} */
#total-text{
 font-size: 25px;
 margin-left: auto;
 margin-right: auto;
 width: 70vw;
 padding: 6vh;
}
.break{
  padding: 2vh;
}
#icons{
  padding: 0 0 4vh 0;
}
#icons1{
  padding: 2vh;
}
.icon{
  display: inline;
  padding: 3rem 1rem;
}
i{
  color: white;
}

#ghost{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 10px white;
  position: sticky;
  bottom: 50%;
  left: 90%;
  animation: ghostmove 6s infinite;
}
@keyframes ghostmove {
  0%{
  top: 5vh ;
   }
  20%{
  bottom:5vh;
  }
  90%{
    bottom: 5vh;
  }
  100%{
    top: 0vh;
  }
}
